@use 'variables' as *;

.services{
    padding: 30px 0;
    .link {
        margin-bottom: 10px;
    }
    &__list {
        display: grid;
        padding: 30px 0;
        gap: 30px;
    }
    &__link {
        display: block;
        width: 92px;
        height: 92px;
        border: 14px solid #ffffff;
        border-radius: 24px;
        margin-bottom: 30px;
        &_e-com {
            background: #ffffff url(../img/e-com.svg) no-repeat center;
        } 
        &_sup {
            background: #ffffff url(../img/support.svg) no-repeat center;
        } 
        &_st {
            background: #ffffff url(../img/structuring-rel.svg) no-repeat center;
        } 
        &_bui {
            background: #ffffff url(../img/build-rel.svg) no-repeat center;
        } 
        &_prot {
            background: #ffffff url(../img/protection.svg) no-repeat center;
        } 
        &_rep {
            background: #ffffff url(../img/representation.svg) no-repeat center;
        } 
    }
    &__item{ 
        h3 {
            color: $blue;
            font-size: 22px;
            font-weight: 700;
            line-height: normal;
            padding-bottom: 15px;
            transition: color .3s;
            &:hover {
                color: $hover-red; 
           }
        }
        p {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px
        }
    }
}

@media (min-width: 768px) {
    .services {
        padding: 0;
        &__list{
            grid-template-columns: 1fr 1fr;
            gap: 60px;
            padding: 60px 0;
        }
    }
}

@media (min-width: 992px) {
    .services__list {
            grid-template-columns: 1fr 1fr 1fr;
    }
}


